<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="model.js"></script>
</head>
<body>
  <div id="mydiv">
    <label for="idperso">#player:</label><input id="idperso" v-model="idPlayer"><br>
    <div v-if="player !== undefined">
      <h1>{{player.name}}, level {{player.level}}, life = {{player.life}}, strength =  {{player.strength}}</h1>
      <table border="1">
        <tr v-for="sl in player.slots">
          <td @dragover.prevent @drop="drop(sl.name)">{{sl.name}}</td>
          <td v-for="it in sl.items">{{it.name}}</td>
        </tr>
      </table>
      <p>Bought items :<button draggable="true" v-for="(it,index) in player.boughtItems" @dragstart="dragStart(index)" @dragend="dragEnd()">{{it.name}}</button></p>
      <label for="gold">Gold:</label>
      <input type="text" readonly id="gold" :value="player.gold"><br>

      <p v-for="(it,index) in shop">
        <input type="radio" name="itemsToBuy" :id="'ittobuy'+index" :value="index" v-model="idToBuy">
        <label :for="'ittobuy'+index">{{it.name}} : {{it.price}} gp</label>
      </p>
      <button @click="buy()" v-if="shop[idToBuy]!=undefined">Buy {{shop[idToBuy].name}}</button>

    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
